{% extends 'expenses/base.html' %}
{% load widget_tweaks %}

{% block active-add-expense %}nav-link-active-c{% endblock active-add-expense %}

{% block title %}
Add Expense
{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row gy-4">
        <div class="col-12 col-lg-5">
            <div class="card border-light-c rounded-4 bg-light-c px-2">
                <div class="card-body p-3">
                    <h4 class="fw-semibold mt-2">Add Expense</h4>
                    <form method="post" class="mb-2 mt-3">
                        {% csrf_token %}
                        <div>
                            <label class="col-form-label">Name</label>
                            {% render_field form.name type="text" class="form-control" %}
                        </div>
                        <div class="mt-2">
                            <label class="col-form-label">Price</label>
                            {% render_field form.price type="number" class="form-control" min="0.01" max="9999999999.99" %}
                        </div>
                        <div class="mt-2">
                            <label class="col-form-label">Category</label>
                            <label class="col-form-label text-second ms-1">Optional</label>
                            {% render_field form.category class="form-select" style="height: calc(100vh - 52vh);" %}
                        </div>
                        <button type="submit" class="btn-c mt-4 col-12">Add</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-7">
            {% include 'expenses/expenses-card.html' %}
        </div>
    </div>

</div>
{% endblock content %}