{% extends 'expenses/base.html' %}
{% load widget_tweaks %}

{% block active-add-category %}nav-link-active-c{% endblock active-add-category %}

{% block title %}
Add Category
{% endblock title %}

{% block content %}
<div class="container-fluid mt-5">
    <div class="row gy-4">
        <!-- Left block -->
        <div class="col-12 col-lg-5">
            <div class="card rounded-4 bg-light-c px-2">
                <div class="card-body">
                    <span class="fs-4 fw-semibold">Add Category</span>
                    <form method="post">
                        {% csrf_token %}
                        <div class="my-2">
                            <label class="col-form-label">Name</label>
                            {% render_field form.name type="text" class="form-control" %}
                        </div>
                        <div class="mb-3">
                            <label class="col-form-label">Color</label>
                            {% render_field form.color type="color" class="form-control form-control-color" %}
                        </div>
                        <button type="submit" class="btn-c mb-2">Add</button>
                    </form>
                </div>
            </div>

            <div class="card rounded-4 bg-light-c px-2 mt-4">
                <div class="card-body">
                    <span class="fs-4 fw-semibold">Recently Added</span>
                    <div class="row justify-content-between text-second mt-4">
                        <div class="col-5">
                            <h6>Name</h6>
                        </div>
                        <div class="col-5 text-center">
                            <h6>Date</h6>
                        </div>
                        <div class="col-2 text-center">
                            <h6></h6>
                        </div>
                    </div>

                    <div class="py-2">
                        {% for category in recently_categories %}
                        {% include 'expenses/category-card-row.html' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Right block -->
        <div class="col-12 col-lg-7">
            <div class="card rounded-4 bg-light-c px-2">
                <div class="card-body">
                    <span class="fs-4 fw-semibold">All Categories</span>
                    <div class="row justify-content-between text-second mt-4">
                        <div class="col-5">
                            <h6>Name</h6>
                        </div>
                        <div class="col-5 text-center">
                            <h6>Date</h6>
                        </div>
                        <div class="col-2 text-center">
                            <h6></h6>
                        </div>
                    </div>

                    <div class="py-2">
                        {% for category in categories %}
                        {% include 'expenses/category-card-row.html' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}