<div id="expenses">
    <div class="card rounded-4 bg-light-c px-2 pt-2 pb-1">
        <div class="card-body">
            <div class="row align-items-center justify-content-between">
                <div class="col mb-1">
                    <span class="fs-4 fw-semibold">Last expenses</span>
                </div>
                <div class="col text-end">
                    <a class="ms-3 {% if period == 'all' %} text-accent-link {% else %} text-second-link {% endif %}"
                        href="" hx-get="{% url 'expenses-date-filter' 'all' %}" hx-trigger="click"
                        hx-target="#expenses">
                        ALL
                    </a>
                    <a class="ms-3 {% if period == 'year' %} text-accent-link {% else %} text-second-link {% endif %}"
                        href="" hx-get="{% url 'expenses-date-filter' 'year' %}" hx-trigger="click"
                        hx-target="#expenses">
                        YEAR
                    </a>
                    <a class="ms-3 {% if period == 'month' %} text-accent-link {% else %} text-second-link {% endif %}"
                        href="" hx-get="{% url 'expenses-date-filter' 'month' %}" hx-trigger="click"
                        hx-target="#expenses">
                        MONTH
                    </a>
                    <a class="ms-3 {% if period == 'week' %} text-accent-link {% else %} text-second-link {% endif %}"
                        href="" hx-get="{% url 'expenses-date-filter' 'week' %}" hx-trigger="click"
                        hx-target="#expenses">
                        WEEK
                    </a>
                </div>
            </div>
            <div>
                <span class="text-second">
                    {% if period == 'all' %}
                    {% else %}
                    <a class="text-second-link"
                        href=""
                        hx-get="
                        {% if period == 'week' %}
                        {% url 'expenses-date-filter' 'previous' %}?period_now={{ period }}&filter_date={{ filter_date }}&filter_date_2={{ filter_date_2 }}
                        {% else %}
                        {% url 'previous-date-period' %}?period={{ period }}&show_date={{ show_date }}
                        {% endif %}
                        "
                        hx-trigger="click"
                        hx-target="#expenses">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-caret-left-fill" viewBox="0 1.5 16 16">
                            <path
                                d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                        </svg>
                    </a>
                    {% if period == 'week' %}
                    {{ filter_date|date:"d M Y" }} - {{ filter_date_2|date:"d M Y" }}
                    {% else %}
                    {{ filter_date }}
                    {% endif %}
                    <a href="" class="text-second-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-caret-right-fill" viewBox="0 1.5 16 16">
                            <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                        </svg>
                    </a>
                    {% endif %}
                </span>
            </div>
            <div class="row justify-content-between text-second mt-3">
                <div class="col-6 col-sm-3 col-md-4">
                    <h6>Name</h6>
                </div>
                <div class="col-6 col-sm-3 col-md-2 text-center">
                    <h6>Price</h6>
                </div>
                <div class="col-6 col-sm-3 col-md-4 text-center">
                    <h6>Category</h6>
                </div>
                <div class="col-6 col-sm-3 col-md-2 text-center">
                    <h6>Action</h6>
                </div>
            </div>

            <div>
                {% for expense in expenses %}
                <div class="row py-2 align-items-center justify-content-between table-row">
                    <a href="">
                        <div class="col-6 col-sm-3 col-md-4">
                            <a href="" class="text-base-link"><strong>{{ expense.name }}</strong></a>
                        </div>
                        <div class="col-6 col-sm-3 col-md-2 text-center">
                            <a href="" class="text-base-link">${{ expense.price }}</a>
                        </div>
                        <div class="col-6 col-sm-3 col-md-4 text-center">
                            {% for category in expense.category.all %}
                            <a style="color: {{ category.color }};">{{ category.name }}</a>
                            {% endfor %}
                        </div>
                        <div class="col-6 col-sm-3 col-md-2 text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                                class="bi bi-three-dots" viewBox="0 0 16 16">
                                <path
                                    d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                            </svg>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>