<div id="expenses">
    <div class="card border-light-c rounded-4 bg-light-c px-2">
        <div class="card-body p-3">
            <div class="d-flex justify-content-between align-items-center mt-2">
                <div class="pb-1">
                    <h4 class="fw-semibold m-0">
                        {% if period == 'year' %}
                        Year
                        {% elif period == 'month' %}
                        Month
                        {% elif period == 'week' %}
                        Week
                        {% elif period == 'day' %}
                        Day
                        {% else %}
                        Recently
                        {% endif %}

                        {% if recently_add %}
                        Added
                        {% endif %}
                    </h4>
                    {% if period %}
                    {% endif %}
                </div>
                {% if period %}
                <div class="font-monospace row">
                    <span class="text-second d-flex justify-content-center col">
                        {% if period == 'day' %}

                        <div class="dropdown text-uppercase me-4">
                            <a href="#" class="text-second-link dropdown-toggle" data-bs-toggle="dropdown">
                                {{ year }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                                {% for y in years %}
                                <li>
                                    <a class="dropdown-item" href=""
                                        hx-get="{% url 'expenses-date-filter' 'day' 'year-select' %}?day={{ day }}&month={{ month }}&year={{ y }}"
                                        hx-trigger="click" hx-target="#expenses">
                                        {{ y }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="dropdown me-4">
                            <a href="#" class="text-second-link dropdown-toggle" data-bs-toggle="dropdown">
                                {{ month }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                                {% for m in months %}
                                <li>
                                    <a class="dropdown-item" href=""
                                        hx-get="{% url 'expenses-date-filter' 'day' 'month-select' %}?day={{ day }}&month={{ m }}&year={{ year }}"
                                        hx-trigger="click" hx-target="#expenses">
                                        {{ m }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <a class="text-second-link pe-2" href=""
                            hx-get="{% url 'expenses-date-filter' 'day' 'previous' %}?day={{ day }}&month={{ month }}&year={{ year }}"
                            hx-trigger="click" hx-target="#expenses">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                                class="bi bi-caret-left-fill" viewBox="0 1.5 16 16">
                                <path
                                    d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                            </svg>
                        </a>
                        <span class="font-monospace text-uppercase">{{ day }}</span>
                        <a class="text-second-link ps-2" href="" hx-get="
                                {% url 'expenses-date-filter' 'day' 'next' %}?day={{ day }}&month={{ month }}&year={{ year }}
                                " hx-trigger="click" hx-target="#expenses">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                                class="bi bi-caret-right-fill" viewBox="0 1.5 16 16">
                                <path
                                    d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                            </svg>
                        </a>

                        {% else %}
                        <a class="text-second-link pe-2" href="" hx-get="
                            {% url 'expenses-date-filter' period 'previous' %}?year={{ year }}&month={{ month }}&day={{ day }}&week_start={{ week_start }}&week_end={{ week_end }}
                            " hx-trigger="click" hx-target="#expenses">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-caret-left-fill" viewBox="0 1.5 16 16">
                                <path
                                    d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                            </svg>
                        </a>
                        {% if period == 'year' %}
                        <span class="font-monospace">{{ year }}</span>
                        {% elif period == 'month' %}
                        <span class="font-monospace">{{ month }} {{ year }}</span>
                        {% elif period == 'week' %}
                        <span class="font-monospace">{{ week_start|date:"d M Y" }} - {{ week_end|date:"d M Y"}}</span>
                        {% endif %}
                        <a class="text-second-link ps-2" href="" hx-get="
                            {% url 'expenses-date-filter' period 'next' %}?year={{ year }}&month={{ month }}&day={{ day }}&week_start={{ week_start }}&week_end={{ week_end }}
                            " hx-trigger="click" hx-target="#expenses">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-caret-right-fill" viewBox="0 1.5 16 16">
                                <path
                                    d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                            </svg>
                        </a>
                        {% endif %}
                    </span>
                </div>
                <div class="row">
                    <input type="text" class="form-control col me-3" value="{{ expense.name }}" placeholder="Search expense..."
                        style="max-width: 200px;" name="q"
                        hx-get="{% url 'expenses-date-filter' period 'search' %}?year={{ year }}&month={{ month }}&day={{ day }}&week_start={{ week_start }}&week_end={{ week_end }}"
                        hx-trigger="keyup changed delay:150ms" hx-target="#search-expense-result">
                </div>
                {% endif %}
            </div>

            <div id="search-expense-result">
                {% include 'expenses/expenses-card-rows.html' %}
            </div>
        </div>
    </div>
</div>