{% extends 'expenses/base.html' %}

{% block active-home %}nav-link-active-c{% endblock active-home %}

{% block title %}
Home
{% endblock title %}

{% block content %}
<div class="container-fluid mt-5">
    <div class="row gy-4">
        <!-- Left block -->
        <div class="col-12 col-lg-8">
            <div class="row mb-4 gy-4 text-light">
                <div class="col-6 col-md-3">
                    <a href="{% url 'expenses-date-filter' 'year' 'show' %}" class="card rounded-4 text-decoration-none text-light bg-gradient-accent px-2">
                        <div class="card-body text-center">
                            <h6 class="fw-normal">Total Year</h6>
                            <p class="fw-semibold">${{ total_year }}</p>
                            {% if percent_last_year|last == 'Up' %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                                viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z" />
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            </svg>
                            {% elif percent_last_year|last == 'Down' %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                                viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z" />
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            </svg>
                            {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                                viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            </svg>
                            {% endif %}
                            <p class="my-0 mt-2 fs-6">{{ percent_last_year|first|floatformat:0 }}%</p>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-3">
                    <a href="{% url 'expenses-date-filter' 'month' 'show' %}" class="card rounded-4 text-decoration-none text-light bg-gradient-blue px-2">
                        <div class="card-body text-center">
                            <h6 class="fw-normal">Total Month</h6>
                            <p class="fw-semibold">${{ total_month }}</p>
                            {% if percent_last_month|last == 'Up' %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                                viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z" />
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            </svg>
                            {% elif percent_last_month|last == 'Down' %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                                viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z" />
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            </svg>
                            {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                                viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            </svg>
                            {% endif %}
                            <p class="my-0 mt-2 fs-6">{{ percent_last_month|first|floatformat:0 }}%</p>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-3">
                    <a href="{% url 'expenses-date-filter' 'week' 'show' %}" class="card rounded-4 text-decoration-none text-light bg-gradient-purple px-2">
                        <div class="card-body text-center">
                            Total Week
                            <p class="fw-semibold">${{ total_week }}</p>
                            {% if percent_last_week|last == 'Up' %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                                viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z" />
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            </svg>
                            {% elif percent_last_week|last == 'Down' %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                                viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z" />
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            </svg>
                            {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                                viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            </svg>
                            {% endif %}
                            <p class="my-0 mt-2 fs-6">{{ percent_last_week|first|floatformat:0 }}%</p>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-3">
                    <a href="{% url 'expenses-date-filter' 'day' 'show' %}" class="card rounded-4 text-decoration-none text-light bg-gradient-green px-2">
                        <div class="card-body text-center">
                            Total Day
                            <p class="fw-semibold">${{ total_day }}</p>
                            {% if percent_last_day|last == 'Up' %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                                viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z" />
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            </svg>
                            {% elif percent_last_day|last == 'Down' %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                                viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z" />
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            </svg>
                            {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                                viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            </svg>
                            {% endif %}
                            <p class="my-0 mt-2 fs-6">{{ percent_last_day|first|floatformat:0 }}%</p>
                        </div>
                    </a>
                </div>
            </div>
            
            <div id="expenses">
                <div class="card rounded-4 bg-light-c px-2 pt-2">
                    <div class="card-body">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-4 mb-1">
                                <span class="fs-4 fw-semibold">Last expenses</span>
                            </div>
                            <div class="col text-end font-monospace">
                                <a class="ms-3 text-second-link" href="{% url 'expenses-date-filter' 'all' 'show' %}">
                                    ALL
                                </a>
                            </div>
                        </div>
            
                        <div class="row justify-content-between text-second mt-3">
                            <div class="col-6 col-sm-3 col-md-4">
                                <h6>Name</h6>
                            </div>
                            <div class="col-6 col-sm-3 col-md-2 text-center">
                                <h6>Price</h6>
                            </div>
                            <div class="col-6 col-sm-2 col-md-2 text-center">
                                <h6>Date</h6>
                            </div>
                            <div class="col-6 col-sm-3 col-md-3 text-center">
                                <h6>Category</h6>
                            </div>
                            <div class="col-6 col-sm-1 col-md-1 text-center">
                                <h6></h6>
                            </div>
                        </div>
            
                        <div class="py-2">
                            {% for expense in expenses %}
                            <div class="row py-2 align-items-center justify-content-between table-row expense">
                                <div class="col-6 col-sm-3 col-md-4">
                                    <a href="" class="text-base-link">{{ expense.name }}</a>
                                </div>
                                <div class="col-6 col-sm-3 col-md-2 text-center">
                                    <a href="" class="text-base-link fw-semibold">${{ expense.price }}</a>
                                </div>
                                <div class="col-6 col-sm-2 col-md-2 text-center">
                                    <a href="" class="text-second-link">{{ expense.created|date:"m.d.y" }}</a>
                                </div>
                                <div class="col-6 col-sm-3 col-md-3 text-center">
                                    {% for category in expense.category.all %}
                                    <a style="color: {{ category.color }};" class="text-second-link"
                                        data-category-name="category-{{ category.pk }}-{{ expense.pk }}"
                                        id="category-open-{{ category.pk }}-{{ expense.pk }}"> {{ category.name|first }} </a>
                                    <a style="color: {{ category.color }};" class="hidden text-second-link"
                                        data-category-name-open="category-open-{{ category.pk }}-{{ expense.pk }}"
                                        id="category-{{ category.pk }}-{{ expense.pk }}"> {{ category.name }} </a>
                                    {% endfor %}
                                </div>
                                <div class="col-6 col-sm-1 col-md-1 text-center">
                                    <a href="" class="text-second-link">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                                            class="bi bi-three-dots text-center me-2" viewBox="0 0 16 16">
                                            <path
                                                d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Right block -->
        <div class="col-12 col-lg-4">
            <div class="card rounded-4 bg-light-c px-2">
                <h5 class="text-light">
                </h5>
                <div class="card-body">
                    {% for category in categories %}
                    {% if category.category.all %}
                    <div class="card bg-light-c my-3">
                        <div class="card-body rounded-4 bg-dark-c">
                            {% for key, value in categories_percent.items %}
                            {% if key == category.name %}
                            <div class="row">
                                <a href="" class="col text-base-link">
                                    {{ category.name }}</a>
                                <span class="col text-end" style="color: {{ category.color }};">
                                    {{ value|floatformat:0 }}%
                                </span>
                            </div>
                            <div class="progress mt-3 mb-1" style="height: 10px; background-color: #242635;">
                                <div class="progress-bar bg-gradient-c" role="progressbar"
                                    style="width: {{ value|floatformat:0 }}%; background-color: {{ category.color }};">
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    categoryNames = document.querySelectorAll('[data-category-name]');
    categoryNamesOpen = document.querySelectorAll('[data-category-name-open]');
    
    categoryNames.forEach(function (item) {
        item.addEventListener('click', function () {
            item.classList.toggle('hidden')
            const openCategoryName = document.querySelector('#' + this.dataset.categoryName);
            openCategoryName.classList.toggle('hidden')
        });
    });

    categoryNamesOpen.forEach(function (item) {
        item.addEventListener('click', function () {
            item.classList.toggle('hidden')
            const categoryName = document.querySelector('#' + this.dataset.categoryNameOpen);
            categoryName.classList.toggle('hidden')
        });
    });
</script>
{% endblock content %}