:root {
    --accent: #ef642c;
    --second: #bdbec2;
    --base: #ffffff;
    --bg-light: #242635;
    --bg-second: #1f222e;
    --bg-dark: #1a1d26;
    --bg-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.007), rgba(233, 233, 233, 0.089), rgba(112, 112, 112, 0.411));
    --bg-gradient-accent: linear-gradient(180deg, rgba(251, 98, 101, 1), rgba(233, 78, 50, 1), rgba(239, 99, 44, 1));
    --bg-gradient-blue: linear-gradient(180deg, rgba(42, 167, 248, 1), rgba(48, 107, 221, 1), rgba(53, 70, 242, 1));
    --bg-gradient-purple: linear-gradient(180deg, rgba(241, 42, 227, 1), rgba(191, 51, 234, 1), rgba(150, 54, 243, 1));
    --bg-gradient-green: linear-gradient(180deg, rgba(68, 216, 154, 1), rgba(31, 209, 185, 1), rgba(52, 205, 224, 1));
    --navbar-width: 220px;
    --navbar-width-sm: 4.5rem;
}

.hidden {
    display: none;
}

.height-100 {
    height: 100vh;
}

.main {
    margin-left: var(--navbar-width);
}

.container-fluid {
    padding-right: 50px;
    padding-left: 50px;
}

.bg-dark-c {
    background-color: var(--bg-dark);
}

.bg-light-c {
    color: var(--base) !important;
    background-color: var(--bg-light);
}

.bg-gradient-c {
    background-image: var(--bg-gradient) !important;
}

.bg-gradient-accent {
    background: var(--bg-gradient-accent);
    box-shadow: 0px 10px 25px rgba(239, 99, 44, 0.2);
    z-index: 1;
}

.bg-gradient-blue {
    background: var(--bg-gradient-blue);
    box-shadow: 0px 10px 25px rgba(53, 70, 242, 0.2);
    z-index: 1;
}

.bg-gradient-purple {
    background: var(--bg-gradient-purple);
    box-shadow: 0px 10px 25px rgba(150, 54, 243, 0.2);
    z-index: 1;
}

.bg-gradient-green {
    background: var(--bg-gradient-green);
    box-shadow: 0px 10px 25px rgba(52, 205, 224, 0.2);
    z-index: 1;
}

.text-accent {
    color: var(--accent);
}

.text-second {
    color: var(--second);
}

.text-accent-link {
    color: var(--accent);
    text-decoration: none;
}

.text-accent-link:hover {
    opacity: 50%;
    color: var(--accent);
}

.text-accent-link:active {
    opacity: 100%;
}

.text-second-link {
    color: var(--second);
    text-decoration: none;
    cursor: pointer;
}

.text-second-link:hover {
    opacity: 50%;
    color: var(--second);
}

.text-second-link:active {
    opacity: 100%;
}

.text-base-link {
    color: var(--base);
    text-decoration: none;
    cursor: pointer;
}

.text-base-link:hover {
    opacity: 50%;
    color: var(--base);
}

.text-base-link:active {
    opacity: 100%;
}

.text-link-hover:hover {
    opacity: 50%;
}

.card {
    border: none;
}

.table-row {
    background-color: var(--bg-light);
}

.table-row:hover {
    background-color: var(--bg-second);
}

/* Dropdown */
.dropdown-menu-dark {
    background-color: var(--bg-light);
}

.dropdown-item {
    cursor: pointer;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: var(--bs-dropdown-link-bg);
    opacity: 50%;
}

.dropdown-item.active,
.dropdown-item:active {
    opacity: 100%;
    color: var(--accent);
}

/* Navbar */
.navbar-width {
    width: var(--navbar-width);
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: visible;
    background-color: var(--bg-light);
}

.navbar-text {
    display: flexbox;
}


.nav-link:hover,
.nav-link:focus {
    opacity: 50%;
    color: var(--accent);
}

.navbar-img {
    width: 26px;
    height: 26px;
}

.navbar-content {
    justify-content: center !important;
}

@media screen and (max-width: 1280px) {
    .navbar-width {
        width: var(--navbar-width-sm);
    }

    .main {
        margin-left: var(--navbar-width-sm);
    }

    .navbar-text {
        display: none;
    }

    .navbar-img {
        width: 32px;
        height: 32px;
    }
}