:root {
    --accent: rgb(28, 142, 251);
    --second: rgba(189, 190, 194, 1);
    --base: rgba(255, 255, 255, 1);
    --error: rgb(207, 81, 81);
    --bg-light: rgba(36, 38, 53, 1);
    --bg-second: rgba(31, 34, 46, 1);
    --bg-dark: rgba(26, 29, 38, 1);
    --bg-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.007), rgba(233, 233, 233, 0.089), rgba(112, 112, 112, 0.411));
    --bg-gradient-accent: linear-gradient(180deg, rgba(42, 167, 248, 1), rgba(48, 107, 221, 1), rgba(53, 70, 242, 1));
    --bg-gradient-blue: linear-gradient(180deg, rgba(42, 167, 248, 1), rgba(48, 107, 221, 1), rgba(53, 70, 242, 1));
    --bg-gradient-orange: linear-gradient(180deg, rgba(251, 98, 101, 1), rgba(233, 78, 50, 1), rgba(239, 99, 44, 1));
    --bg-gradient-purple: linear-gradient(180deg, rgba(241, 42, 227, 1), rgba(191, 51, 234, 1), rgba(150, 54, 243, 1));
    --bg-gradient-green: linear-gradient(180deg, rgba(68, 216, 154, 1), rgba(31, 209, 185, 1), rgba(52, 205, 224, 1));
    --navbar-width: 220px;
    --navbar-width-sm: 4.5rem;
}

.hidden {
    display: none;
}

.height-100 {
    height: 100vh;
}

.main {
    margin-left: var(--navbar-width);
}

.container-fluid {
    padding-right: 50px;
    padding-left: 50px;
}

.bg-dark-c {
    background-color: var(--bg-dark);
}

.bg-light-c {
    color: var(--base) !important;
    background-color: var(--bg-light);
}

.bg-accent {
    color: var(--base);
    background-color: var(--accent);
}

.bg-error {
    color: var(--base);
    background-color: var(--error);
}

.bg-gradient-c {
    background-image: var(--bg-gradient) !important;
}

.bg-gradient-accent {
    background: var(--bg-gradient-accent);
    box-shadow: 0px 10px 25px rgba(42, 167, 248, 0.2);
    z-index: 1;
    transition: 0.5s;
}

.bg-gradient-accent:hover {
    background: var(--bg-gradient-accent);
    box-shadow: 0px 35px 50px rgba(42, 167, 248, 0.2);
    z-index: 1;
    transform: scale(1.05);
}

.bg-gradient-blue {
    background: var(--bg-gradient-blue);
    box-shadow: 0px 10px 25px rgba(42, 167, 248, 0.2);
    z-index: 1;
    transition: 0.5s;
}

.bg-gradient-blue:hover {
    background: var(--bg-gradient-blue);
    box-shadow: 0px 35px 50px rgba(42, 167, 248, 0.2);
    z-index: 1;
    transform: scale(1.05);
}

.bg-gradient-orange {
    background: var(--bg-gradient-orange);
    box-shadow: 0px 10px 25px rgba(251, 98, 101, 0.2);
    z-index: 1;
    transition: 0.5s;
}

.bg-gradient-orange:hover {
    background: var(--bg-gradient-orange);
    box-shadow: 0px 35px 50px rgba(251, 98, 101, 0.2);
    z-index: 1;
    transform: scale(1.05);
}

.bg-gradient-purple {
    background: var(--bg-gradient-purple);
    box-shadow: 0px 10px 25px rgba(241, 42, 227, 0.2);
    z-index: 1;
    transition: 0.5s;
}

.bg-gradient-purple:hover {
    background: var(--bg-gradient-purple);
    box-shadow: 0px 35px 50px rgba(241, 42, 227, 0.2);
    z-index: 1;
    transform: scale(1.05);
}

.bg-gradient-green {
    background: var(--bg-gradient-green);
    box-shadow: 0px 10px 25px rgba(68, 216, 154, 0.2);
    z-index: 1;
    transition: 0.5s;
}

.bg-gradient-green:hover {
    background: var(--bg-gradient-green);
    box-shadow: 0px 35px 50px rgba(68, 216, 154, 0.2);
    z-index: 1;
    transform: scale(1.05);
}

.text-accent {
    color: var(--accent);
}

.text-second {
    color: var(--second);
}

.text-accent-link {
    color: var(--accent);
    text-decoration: none;
    transition-duration: 0.2s;
}

.text-accent-link:hover {
    opacity: 50%;
    color: var(--accent);
}

.text-accent-link:active {
    opacity: 100%;
}

.text-second-link {
    color: var(--second);
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.2s;
}

.text-second-link:hover {
    opacity: 50%;
    color: var(--second);
}

.text-second-link:active {
    opacity: 100%;
}

.text-base-link {
    color: var(--base);
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.2s;
}

.text-base-link:hover {
    opacity: 50%;
    color: var(--base);
}

.text-base-link:active {
    opacity: 100%;
}

.text-link-hover:hover {
    opacity: 50%;
}

.card {
    border: none;
}

.table-row {
    background-color: var(--bg-light);
    border-radius: 0.5rem;
    transition-duration: 0.3s;
}

.table-row:hover {
    background-color: var(--bg-second);
}

.btn-c {
    background-color: var(--accent);
    border: none;
    border-radius: 0.5rem;
    color: var(--base);
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

.btn-c:hover {
    background-color: var(--accent);
    box-shadow: 0px 10px 40px rgba(42, 167, 248, 0.3);
    color: var(--base);
    transition-duration: 0.4s;
}

.btn-c:active {
    box-shadow: none;
    opacity: 90%;
    transition-duration: 0.05s;
}

.btn-c-transparent {
    background-color: var(--bg-light);
    border: none;
    border-radius: 0.5rem;
    color: var(--second);
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.2s;
}

.btn-c-transparent:hover {
    background-color: var(--accent);
    box-shadow: 0px 10px 40px rgba(42, 167, 248, 0.3);
    color: var(--base);
    transition-duration: 0.4s;
}

.btn-c-transparent:active {
    box-shadow: none;
    opacity: 90%;
    transition-duration: 0.05s;
}

.category-name {
    text-decoration-line: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
}

/* Dropdown */
.dropdown-menu-dark {
    background-color: var(--bg-light);
    min-width: 0.1rem;
}

.dropdown-item {
    cursor: pointer;
    transition-duration: 0.2;
    padding: 0px 0px;
    padding: 0.25rem 1rem;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: var(--bg-second);
    opacity: 50%;
}

.dropdown-item.active,
.dropdown-item:active {
    opacity: 100%;
    color: var(--second);
}

/* Navbar */
.navbar-width {
    width: var(--navbar-width);
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: visible;
    z-index: 10;
    background-color: var(--bg-light);
}

.navbar-text {
    display: flexbox;
}

.nav-link-c {
    display: block;
    padding: 1rem 1rem;
    text-decoration: none;
    color: var(--base);
    transition-duration: 0.2s;
}

.nav-link-c:hover {
    opacity: 50%;
    color: var(--base);
}

.nav-link-active-c {
    display: block;
    padding: 1rem 1rem;
    text-decoration: none;
    color: var(--accent);
    font-weight: 700;
    transition-duration: 0.2s;
}

.nav-link-active-c:hover {
    opacity: 50%;
    color: var(--accent);
}

.navbar-img {
    width: 26px;
    height: 26px;
}

.navbar-content {
    justify-content: center !important;
}

@media screen and (max-width: 1280px) {
    .navbar-width {
        width: var(--navbar-width-sm);
    }

    .main {
        margin-left: var(--navbar-width-sm);
    }

    .navbar-text {
        display: none;
    }

    .navbar-img {
        width: 32px;
        height: 32px;
    }
}

/* Modal */
.modal-content {
    color: var(--base);
    background-color: var(--bg-light);
}

/* Form */
.form-control {
    color: var(--base);
    background-color: var(--bg-dark);
    border: none;
}

.form-control:focus {
    color: var(--base);
    background-color: var(--bg-dark);
    box-shadow: 0 0 0 0.25rem rgba(42, 167, 248, 0.25);
}

.form-select {
    color: var(--base);
    background-color: var(--bg-dark);
    border: none;
    height: calc(100vh - 430px);
}

.form-select:focus {
    box-shadow: 0 0 0 0.25rem rgba(42, 167, 248, 0.25);
}